@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron jumbotron-fluid">
    <h1>Ouvidoria</h1>

</div>
<div class="row">
    <div class="col-md-6">
        <h2>Bem Vindo ao gerenciador da ouvidoria</h2>
        <p>
            Aqui você pode verificar e tratar
        </p><p>
            todas as manifestações geradas para nossa instituição.
        </p>
    </div>

    <div class="col-md-6">
        <h2>Gestão em Foco</h2>
        <p>Você sabia que as críticas podem ser muito importantes?</p>
        <p>Elas são o termômetro de como estamos atuando em nossa gestão.</p>
    </div>
</div>